@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-size: 100%;
    text-align: center;
    font-family: "Georama", sans-serif;
   

}
#index{
    background-size: 100%;
    background-image:linear-gradient(to bottom left,rgb(244, 245, 244) , rgb(134, 248, 134) , rgb(0, 248, 0));
}
#display{
    text-align: center;
    font-size: 30px;
    background-size: 100%;
    background-color: rgb(255, 255, 255);
    
   
}
#ilu{
    width: 60%;
}

header{
    background-size:100% ;
    background-position: center;
    text-align: center;
}
nav a{

    text-decoration: none;
    background-color: rgb(225, 235, 225);
    color: rgb(0, 0, 0);
    margin:20px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid black;
}
nav a:hover{
    color: rgb(218, 226, 215);
    background-color: rgb(75, 255, 90);
}
nav{
    margin: 20px;
}
#filtrado{
    background-size: 100%;
    background-image:linear-gradient(to bottom left,rgb(244, 245, 244) , rgb(134, 248, 134) , rgb(0, 248, 0));
}